body {
  background-image: url("https://assets.sp.milesplit.com/team_logos/27742?v=1");
   background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
}
header {
  backgrond: #2c3e50;
  color: #b2222;
 
  padding: 2rem 1rem;
  text-align: center;
}

